.btn-game {
    background-color: rgb(44, 44, 44);
    border-radius: 10px;
    border: 2px gray solid;
    transition: 0.2s all linear;
    font-size: 2rem;
    color: rgb(185, 183, 162);
}

.btn-game:hover {
    border-color: rgb(255, 255, 255);
}

.btn-game:focus {
    border-color: rgb(255, 255, 255);

}

.btn-game:disabled {
    opacity: 0.8;
}

.btn-normal {
    background-color: black;
    font-weight: 500;
    font-size: 1.2rem;
    border-radius: 6px;
    border: 2px rgba(255, 255, 255, 0.336) solid;
    color: rgba(185, 183, 162, 0.514);
    transition: 0.4s all linear;
}

.btn-normal:hover {
    border: 2px rgba(255, 255, 255, 0.575) solid;
    color: rgba(255, 255, 255, 0.692);
}
button:hover {
    cursor: pointer;
}